
@{
    ViewData["Title"] = "Redirect server-side";
}

<h2>Redirect server-side</h2>
<form asp-action="RedirectServerSide_Post" method="post">
    <p>Click button to submit form and perform a server-side redirect.</p>
    <input type="submit" name="submit" value="Submit" />
</form>

